language: node_js # node环境
node_js:
  - lts/*
install:
  - yarn install
script:
  - yarn build # 执行命令
deploy:
  provider: pages
  skip-cleanup: true
  local_dir: src/.vuepress/dist # 部署的文件夹文件
  github-token: $GITHUB_TOKEN # travis服务上的token变量
  target-branch: master # 集成发布到msater上
  keep-history: true
  on:
    branch: src